monospace_font = "inconsolata", Menlo, Monaco, Consolas, "DejaVu Sans Mono", "Courier New", monospace;

body_font_size = 18px
editor_font_size = 12px
output_font_size = 14px

rounding = 4px

lighter_grey = #f5f8fa
light_grey = #ebedef

darker_violet = #291954
dark_violet = #391d5a
mid_violet = rgba(61, 39, 100, 1)
mid_violet_transp = rgba(61, 39, 100, 0.6)
mid_violet_more_transp = rgba(61, 39, 100, 0.4)
mid_light_violet = #4d2877
light_violet = #6442AB

violet_blue = #363b7d
light_violet_blue = #314799

light_transp = rgba(255, 255, 255, 0.1)
white_transp = rgba(255, 255, 255, 0.85)
bright_transp = rgba(255, 255, 255, 0.90)

editor_border_color = 1px solid rgba(0, 0, 0, 0.2)
