@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic")

body
  margin-top: 20px
  margin-bottom: 20px

.footer
  margin-top: 40px
  text-align: center

code, kbd, pre, samp
  font-family: "Ubuntu Mono", monospace
  font-size: 14px
  line-height: 16px

.ace_editor
  font-family: "Ubuntu Mono", monospace !important
  font-size: 14px !important

pre, .hljs
  background-color: #f8f8f8

.overline
  text-decoration: overline

.ace-verilog
  display: block
  border: 1px solid rgba(0, 0, 0, 0.2)
  border-radius: 6px
  margin-bottom: 10px
  height: 200px
