@import "_mixins.styl"
@import "_variables.styl"

body
  font-family: "museo-sans", sans-serif
  font-size: body_font_size
  font-weight: 300
  margin-bottom: 20px
  background-color: light_grey

.page-content
  padding-top: 20px
  padding-bottom: 40px
  background-color: lighter_grey
  background-linear-gradient(top, lighter_grey, 0%, light_grey, 100%)

.navbar-verilogme
  background-color: dark_violet
  background-linear-gradient(top, mid_violet, 0%, dark_violet, 100%)
  box-shadow(0px -20px 40px 20px rgba(0, 0, 0, 0.2))
  margin-bottom: 0
  a
    color: white_transp
  .navbar-nav>li>a
    &:hover, &:focus
      background-color: light_transp
  .navbar-toggle
    background-color: rgba(0, 0, 0, 0.1)
    border-color: rgba(255, 255, 255, 0.4)
    .icon-bar
      background-color: rgba(255, 255, 255, 0.25)

.footer
  text-align: center

h1, h2, h3, h4, h5, h6
  font-family: "museo-slab", sans-serif

h1, h2
  font-weight: 700

h1
  background-color: mid_violet
  background-linear-gradient(top, violet_blue, 0%, mid_violet, 100%)
  color: bright_transp
  padding-top: 8px
  padding-bottom: 8px
  padding-left: 10px
  padding-right: 10px
  border-radius: 6px

h2
  color: darker_violet
  border-bottom: 5px solid mid_violet_transp
  padding-bottom: 3px

h3, h4, h5, h6
  color: dark_violet
  border-bottom: 3px solid mid_violet_more_transp
  font-weight: 500

.jumbotron h1
  color: bright_transp
  display: inline-block
  padding-left: 20px
  padding-right: 20px
  padding-top: 8px
  padding-bottom: 14px
  &:hover
    background-linear-gradient(top, light_violet_blue, 0%, mid_light_violet, 100%)

code, kbd, pre, samp
  font-family: monospace_font
  font-size: body_font_size
  line-height: body_font_size + 2px

.ace_editor
  font-family: monospace_font !important
  font-size: body_font_size !important

pre, .hljs
  background-color: #f8f8f8
  border-radius: rounding

.overline
  text-decoration: overline

.ace-verilog
  display: block
  border: 1px solid rgba(0, 0, 0, 0.2)
  margin-bottom: 10px
  height: 200px
  border-radius: rounding
