@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic")

body
  margin-top: 20px
  margin-bottom: 20px

.footer
  margin-top: 40px
  text-align: center

code, kbd, pre, samp
  font-family: "Ubuntu Mono", monospace

pre, .hljs
  background-color: #f8f8f8

.overline
  text-decoration: overline
