@import "_mixins.styl"
@import "_variables.styl"

.btn-verilogme
  color: #F5F8FA
  background-color: #3B3274
  border-color: #130269
 
.btn-verilogme:hover, 
.btn-verilogme:focus, 
.btn-verilogme:active, 
.btn-verilogme.active, 
.open .dropdown-toggle.btn-verilogme
  color: #F5F8FA
  background-color: light_violet_blue
  border-color: #130269
 
.btn-verilogme:active, 
.btn-verilogme.active, 
.open .dropdown-toggle.btn-verilogme
  background-image: none
 
.btn-verilogme.disabled, 
.btn-verilogme[disabled], 
fieldset[disabled] .btn-verilogme, 
.btn-verilogme.disabled:hover, 
.btn-verilogme[disabled]:hover, 
fieldset[disabled] .btn-verilogme:hover, 
.btn-verilogme.disabled:focus, 
.btn-verilogme[disabled]:focus, 
fieldset[disabled] .btn-verilogme:focus, 
.btn-verilogme.disabled:active, 
.btn-verilogme[disabled]:active, 
fieldset[disabled] .btn-verilogme:active, 
.btn-verilogme.disabled.active, 
.btn-verilogme[disabled].active, 
fieldset[disabled] .btn-verilogme.active
  background-color: #3B3274;
  border-color: #130269
 
.btn-verilogme .badge
  color: #3B3274
  background-color: #F5F8FA
