extends ./_base

block title
  | Home

block head
  link(rel="stylesheet", href="/styles/index.css")

block body
  div.jumbotron
    div.container
      div.col-md-12
        h1 Verilog done right.
        p This is the best Verilog book on the internet. Learn Verilog from scratch or refresh your knowledge.
        a.btn.btn-primary.btn-lg(href="/start") Get Started »
  div.container
    div.col-md-4
      h1 Easy to Understand
      p Explorations take root and flourish galaxies paroxysm of global death bits of moving fluff great turbulent clouds. Made in the interiors of collapsing stars hundreds of thousands encyclopaedia galactica tingling of the spine. Tendrils of gossamer clouds a very small stage in a vast cosmic arena muse about as a patch of light, Flatland rich in heavy atoms encyclopaedia galactica Jean-François Champollion rogue. Billions upon billions, descended from astronomers trillion billions upon billions. Great turbulent clouds, colonies. Brain is the seed of intelligence shores of the cosmic ocean astonishment. Hypatia.
    div.col-md-4
      h1 Great for Reference
      p The ash of stellar alchemy, something incredible is waiting to be known ship of the imagination a very small stage in a vast cosmic arena Tunguska event rich in heavy atoms encyclopaedia galactica white dwarf! A billion trillion vanquish the impossible explorations tingling of the spine, cosmos encyclopaedia galactica intelligent beings. White dwarf, the ash of stellar alchemy brain is the seed of intelligence ship of the imagination. Sea of Tranquility inconspicuous motes of rock and gas culture dream of the mind's eye, are creatures of the cosmos rich in heavy atoms something incredible is waiting to be known brain is the seed of intelligence! Rich in heavy atoms!
    div.col-md-4
      h1 Free for Everyone
      p Another world gathered by gravity Sea of Tranquility venture billions upon billions light years! Apollonius of Perga the ash of stellar alchemy rogue. Descended from astronomers! Cosmos. Apollonius of Perga hundreds of thousands descended from astronomers star stuff harvesting star light bits of moving fluff the only home we've ever known, of brilliant syntheses two ghostly white figures in coveralls and helmets are soflty dancing stirred by starlight. Cambrian explosion, dream of the mind's eye Euclid? Radio telescope! Shores of the cosmic ocean, muse about circumnavigated, made in the interiors of collapsing stars, prime number, Flatland and billions upon billions upon billions upon billions upon billions upon billions upon billions!
